{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
<center>
<br><br><br>
<div class="main-page">

<div class="section1">
    <div class="content1">
        <h1>Company Name</h1>
	<br><br>
        <h2>Who We Are</h2>
	<br><br><br><br><br>
        <h2>What We Do</h2>
	<br><br><br><br><br>
    </div>
</div>

<hr>

<div id="services">
<h1>Our services</h1>
</div>

<div class="section2">
    <div class="content2">
        <h2>Remarking Services</h2>
        <p>Remarking Services section</p>
	<center>
        <div class="image-gallery">
            <img src="{{ url_for('static', filename='photos/image5.jpeg') }}" alt="Image 5" class="responsive-img">
            <img src="{{ url_for('static', filename='photos/image2.jpeg') }}" alt="Image 2" class="responsive-img">
	</div>
	</center>
	<br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

<hr>

<div class="section3">
    <div class="content3">
        <h2>Transloading Services</h2>
        <p>Transloading services section</p>
	<br>
	<p> adding random details to try to expand the screen and see if it fits well</p>
	<br>
	<p> still doing that</p>
	<br>
	<p> still doing it again</p>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>

</div>
</center>
{% endblock %}
