{% extends 'base.html' %}

{% block title %}Our Services{% endblock %}

{% block content %}
<center>
<h1>Our services</h1>
<p>Here at {company name} we offer both rail car remarking services, as well as transloading services<p>

<h2>Rail Car Remarking Services</h2>
<div class="image-gallery">
    <img src="{{ url_for('static', filename='photos/image1.jpeg') }}" alt="Image 1" class="responsive-img">
    <img src="{{ url_for('static', filename='photos/image5.jpeg') }}" alt="Image 5" class="responsive-img">
    <img src="{{ url_for('static', filename='photos/image2.jpeg') }}" alt="Image 2" class="responsive-img">
    <img src="{{ url_for('static', filename='photos/image4.jpeg') }}" alt="Image 4" class="responsive-img">
</div>

<h2>Transloading Services</h2>
<div class="image-gallery">
    <img src="{{ url_for('static', filename='photos/image3.jpeg') }}" alt="Image 3" class="responsive-img">
</div>
</center>
{% endblock %}
