{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<body>
	<br><br>
    <div class="contact-container">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
		<div class="contact-left-title">
			<h2>Get in Touch</h2>
			<hr>
		</div>
		<input type="hidden" name="access_key" value="c8887d4a-405d-46fe-97f1-168eefabc0bd">
		<input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
		<input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
		<textarea name="message" placeholder="Your Message" class="contact-inputs" style="color:black;" required></textarea>
		<button type="submit"> Submit <img src="{{ url_for('static', filename='photos/arrow_icon.png') }}" alt=""></button>
	</form>
	<div class="contact-right">
		<img src="{{ url_for('static', filename='photos/message_us.png') }}" alt="">
	</div>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.querySelector(".menu-toggle");
        const navLinks = document.querySelector(".nav-links");

        menuToggle.addEventListener("click", function () {
            navLinks.classList.toggle("active");
        });
    });
</script>
{% endblock %}
