{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<center>
<br><br><br>
<div class="main-page">

<div class="section1">
    <div class="content1">
        <h1>Wildrose Industrial Services</h1>
	<br>
        <h2>What We Do</h2>
	<br>
	<center>
	<p style="width:750px;" class="info-tags">At Wildrose Industrial Services, we are your reliable partner for all your equipment repair, staffing
services, yard maintenance, and hopper car cleaning needs. With a team of skilled professionals and
years of industry experience, we are committed to delivering top-notch solutions that exceed
expectations. Whether you need prompt repairs for your valuable equipment, dependable staffing
services for your projects, efficient yard maintenance, or thorough hopper car cleaning for optimal
functionality, we have you covered. At Wild Rose Northern Contractors, your satisfaction is not just a
priority, it's our mission. Trust us to handle your requirements with expertise and dedication. Contact us
today to experience our exceptional services firsthand!</p>
	</center>
        <br>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#000"><path d="M0 0v100c250 0 375-24 500-48 125 24 250 48 500 48V0H0Z" opacity=".5"></path><path d="M0 0v4c250 0 375 24 500 48C625 28 750 4 1000 4V0H0Z"></path></svg>

<div class="section2">
    <div class="content2">
	<h2> Rail Car Remarking Services</h2>
	<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Decal removal and application</h3>
	</li>
	<li>
		<h2>02</h2>
		<h3>Reflective tape application</h3>
	</li>
	<li>
		<h2>03</h2>
		<h3>AEI tag remarking</h3>
	</li>
	<li>
		<h2>04</h2>
		<h3>Paint and stencil applications</h3>
	</li>
        </ul>
	<br>
	<center>
        <p style="width:750px;" class="info-tags"> We go the extra mile by negotiating access to railcar locations, whether in storage or at
loading/unloading facilities, ensuring seamless project execution. Our dedicated mobile crews
can travel to any location across western Canada to ensure timely and efficient service. </p>
        <div class="image-gallery">
            <img src="{{ url_for('static', filename='photos/image2.jpeg') }}" alt="Image 2" class="responsive-img">
	    <img src="{{ url_for('static', filename='photos/image4.jpeg') }}" alt="Image 2" class="responsive-img">
	    <img src="{{ url_for('static', filename='photos/image10.jpeg') }}" alt="Image 2" class="responsive-img">
	</div>
	</center>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#000"><path d="M0 0v100c250 0 375-24 500-48 125 24 250 48 500 48V0H0Z" opacity=".5"></path><path d="M0 0v4c250 0 375 24 500 48C625 28 750 4 1000 4V0H0Z"></path></svg>

<div class="section3">
    <div class="content3">
        <h2>Train yard maintenance service</h2>
	<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Snow Removal</h3>
	</li>
	<li>
		<h2>02</h2>
		<h3>Summer grass maintenance</h3>
	</li>
	<li>
		<h2>03</h2>
		<h3>Bush control maintenance</h3>
	</li>
	 <li>
                <h2>04</h2>
                <h3>Construction clean-up</h3>
        </li>

        </ul>
        <br>
	<center>
        <p style="width:750px;" class="info-tags"> Our yard maintenance services will keep your outdoor areas looking their best year-round. We
provide snow removal and switch-cleaning services, summer grass maintenance, and brush
control. We can also take care of scrap removal, construction clean-up, and special trash
removal. </p>
	</center>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#000"><path d="M0 0v100c250 0 375-24 500-48 125 24 250 48 500 48V0H0Z" opacity=".5"></path><path d="M0 0v4c250 0 375 24 500 48C625 28 750 4 1000 4V0H0Z"></path></svg>

<div class="section4">
    <div class="content4">
        <h2>Fleet management and Equipment rentals services</h2>
	<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Light-duty and heavy-duty equipment repair</h3>
	</li>
	<li>
		<h2>02</h2>
		<h3>Equipment mobile detailing services</h3>
	</li>
	<li>
		<h2>03</h2>
		<h3>Equipment monitoring systems</h3>
	</li>
	<li>
		<h2>04</h2>
		<h3>Parts sourcing</h3>
	</li>
        <li>
                <h2>05</h2>
                <h3>Sales and rental equipment sourcing services</h3>
        </li>
        </ul>
        <br>
	<center>
        <p style="width:750px;" class="info-tags"> Our fleet management services will help you keep your equipment running smoothly. Our team
of experts can handle light-duty and heavy-duty equipment repair, while our state-of-the-art
equipment monitoring systems provide you with real-time data on your fleet's performance.
We also provide parts sourcing, sales and rental equipment sourcing services, so you can get
the best possible rates. </p>
	<div class="image-gallery">
            <img src="{{ url_for('static', filename='photos/image1.jpeg') }}" alt="Image 2" class="responsive-img">
            <img src="{{ url_for('static', filename='photos/image6.jpeg') }}" alt="Image 2" class="responsive-img">
	    <img src="{{ url_for('static', filename='photos/image7.jpeg') }}" alt="Image 2" class="responsive-img">
        </div>
	</center>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" fill="#000"><path d="M0 0v100c250 0 375-24 500-48 125 24 250 48 500 48V0H0Z" opacity=".5"></path><path d="M0 0v4c250 0 375 24 500 48C625 28 750 4 1000 4V0H0Z"></path></svg>

<div class="section5">
    <div class="content5">
        <h2>Transloading Services</h2>
	<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>Railcar rebalancing</h3>
	</li>
	<li>
		<h2>02</h2>
		<h3>Loading of products</h3>
	</li>
	<li>
                <h2>03</h2>
                <h3>Offloading of products</h3>
        </li>

	<li>
		<h2>04</h2>
		<h3>Transportation assistance</h3>
	</li>
	<li>
		<h2>05</h2>
		<h3>Storage options</h3>
	</li>
        </ul>
	<br>
	<center>
	<p style="width:750px;" class="info-tags">We provide a variety of transloading services tailored to our customers’ needs. From rail car
	rebalancing to loading and offloading products. </p>
	<div class="image-gallery-solo">
	    <img src="{{ url_for('static', filename='photos/image3.jpeg') }}" alt="Image 2" class="responsive-img">
        </div>
	</center>
    </div>
</div>

</div>
</center>
{% endblock %}
